@import url(http://fonts.googleapis.com/css?family=Roboto);
/* line 10, ../sass/styles.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

/* line 16, ../sass/styles.scss */
html,
body {
  background: #FAFAFA;
  border: none;
  width: 100%;
  height: 100%;
}

/* line 24, ../sass/styles.scss */
#search {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}
/* line 31, ../sass/styles.scss */
#search input,
#search button {
  padding: 8px 16px;
  font: 16px 'Roboto', sans-serif;
  border: none;
  outline: none;
}
/* line 39, ../sass/styles.scss */
#search input {
  background: #FFF;
  color: rgba(0, 0, 0, 0.87);
  width: 300px;
  -webkit-transition: width 0.2s linear 0s;
          transition: width 0.2s linear 0s;
}
/* line 46, ../sass/styles.scss */
#search button {
  background: #E91E63;
  color: #FFF;
  cursor: pointer;
}
/* line 51, ../sass/styles.scss */
#search button:hover, #search button:active {
  background: #9C27B0;
}
/* line 57, ../sass/styles.scss */
#search.sticky {
  height: auto;
}
/* line 60, ../sass/styles.scss */
#search.sticky input {
  width: 100%;
}
